<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Scraping stats</title>
</head>
<body>
<script src="/static/plotly-latest.min.js"></script>
<script src="/static/show_stats.js"></script>
<link rel="stylesheet" href="/static/stats.css">
<table id="stats">
    <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Status</th>
        <th></th>
    </tr>
    {% for s in stats %}
    <tr data-name="{{ s.name }}" onclick="showPlot('{{ s.name }}');">
        <td>{{ s.name }}</td>
        <td>{{ s.amount }}</td>
        <td>
            <div class="status {{ s.status }}"></div>
        </td>
        <td><div class="arrow-right"></div></td>
    </tr>
    {% endfor %}
</table>
</body>
